<!doctype html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Hello Kubernetes</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

 </head>
 <body>
  
  <div class="container-fluid" style="margin-top:none">
 
 <div class="page-header" style="margin-top:2px">
     <h2><font color=blue><strong>Welcome to Kubernetes World</strong></font></h2>
</div>     

  <div class="panel panel-default" id="itemlist">
  <div class="panel-heading" >
    <h3 class="panel-title">Kubernetes Cheat Sheet</h3>
	</div>	
  </div>

	<table class="table table-striped">
		<thead><tr><th>Command</TH><TH>Description</TH></tr></thead>
		<tbody>
			<tr>
				<TD style=width:25%">Get Nodes</TD>
				<TD style=width:25%">kubectl get nodes</TD>
			</tr>
		<tr>
				<TD style=width:25%">Get PODS</TD>
				<TD style=width:25%">kubectl get pods</TD>
		</tr>
		<tr>
				<TD style=width:25%">Get Services</TD>
				<TD style=width:25%">kubectl get services</TD>
		</tr>
		
		<tr>
				<TD style=width:25%">Many more to come</TD>
		</tr>
		
 </body>
</html>

